<app-navigation></app-navigation>

<div class="container valign-wrapper" style="height: 100vh;">
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
        <a href="https://www.facebook.com/profile.php?id=100083535093731" target="_blank" class="btn waves-effect white grey-text darken-text-2">FACEBOOK</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
          <h2>Hifas de Grana</h2>
          <p class="white-text">(Colectivo)</p>
          <img src="https://scontent.foax2-1.fna.fbcdn.net/v/t39.30808-6/298242295_146429308068032_6496415343086648368_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeEUWBrFHJgks8eyoitUee8vI7kzOl0tdiAjuTM6XS12IOOKIWSqtSuhnXGw0O3ToC0WLJWqHkKgWs6E0nhXtVA-&_nc_ohc=E9jyjpGbHVUAX-cld5N&_nc_ht=scontent.foax2-1.fna&oh=00_AfCJ5DFtdU2vPksXt1jRyn_KxvC5jOWoL3LMT1e31jqWLw&oe=65C07A37" alt="Descripción de la imagen" style="width: 50%; height: auto;">
        </div>
        <div class="carousel-item amber white-text" href="#two!">
          <h2>Second Panel</h2>
          <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <h2>Third Panel</h2>
          <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
          <h2>Fourth Panel</h2>
          <p class="white-text">This is your fourth panel</p>
        </div>
      </div>
</div>


<router-outlet></router-outlet>
<app-footer></app-footer>